.accessories{
    max-width: 1240px;
    margin: 0 auto;

    .introBackground{
        background-image: url('https://www.mrporter.com/cms/ycm/resource/blob/1285656/43dc5e725befdb50483aacec4fa4f550/accessories-data.jpg?imwidth=3000&improfile=isc');
        padding: 20px 0;
    }
}