.right{
    margin-left: 20px;
    font-family: 'Georgia';
    width: 90%;
    .container{
        display: flex;
        flex-direction: column;
        .designer{
            font-size: 30px;
            font-weight: 500;
        }
        .name{
            font-size: 18px;
            font-weight: 400;
        }
        .quantity{
            font-size: 15px;
            font-weight: 300;
        }
        .price{
            font-size: 30px;
            font-weight: 400;
        }
        .size{
            font-size: 20px;
            font-weight: 300;
        }
        .description{
            margin-top: 10px;
            font-size: 20px;
            font-weight: 300;
        }
        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: #000;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
        }
        .button:hover{
            background-color: rgb(59, 59, 59);
        }
    }
}