.watches{
    max-width: 1240px;
    margin: 0 auto;

    .introBackground{
        background-image: url('https://www.mrporter.com/cms/ycm/resource/blob/23509618/2e4b77fa1001dfdb7566b7a9c0eefe56/category-header-image-data.jpg?imwidth=3000&improfile=isc');
        background-attachment: fixed;
        padding: 20px 0;
    }
}