.promo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #333;
    .container {
        width: 31%;
        .title {
            font-size: 20px;
        }
    }
    .container:hover {
        .title {
            color: #007acc;
        }
    }
}
